# uv / virtualenv
.venv/
.venv.bak/
.agent/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env vars
.env
.env.*

# IDE
.idea/
.vscode/

# React
node_modules/
dist/

challenge.md

# CDK
cdk.out/
cdk.context.json